<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ListsSoap" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WebsSoap" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="CopySoap" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WebsSoap1" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="ListsSoap1" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="CopySoap1" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="VersionsSoap" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="VersionsSoap1" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://win-qmr53o3594d/_vti_bin/Lists.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListsSoap"
                contract="ListServiceReference.ListsSoap" name="ListsSoap" />
            <endpoint address="http://win-qmr53o3594d/_vti_bin/webs.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebsSoap"
                contract="WebServiceReference.WebsSoap" name="WebsSoap" />
            <endpoint address="http://win-qmr53o3594d/_vti_bin/copy.asmx"
                binding="basicHttpBinding" bindingConfiguration="CopySoap"
                contract="CopyServiceReference.CopySoap" name="CopySoap" />
            <endpoint address="http://win-7olu7p606tq/_vti_bin/webs.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebsSoap1"
                contract="Web2010ServiceReference.WebsSoap" name="WebsSoap1" />
            <endpoint address="http://win-7olu7p606tq/_vti_bin/Lists.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListsSoap1"
                contract="List2010ServiceReference.ListsSoap" name="ListsSoap1" />
            <endpoint address="http://win-7olu7p606tq/_vti_bin/copy.asmx"
                binding="basicHttpBinding" bindingConfiguration="CopySoap1"
                contract="Copy2010ServiceReference.CopySoap" name="CopySoap1" />
            <endpoint address="http://win-qmr53o3594d/_vti_bin/Versions.asmx"
                binding="basicHttpBinding" bindingConfiguration="VersionsSoap"
                contract="VersionServiceReference.VersionsSoap" name="VersionsSoap" />
            <endpoint address="http://win-7olu7p606tq/_vti_bin/Versions.asmx"
                binding="basicHttpBinding" bindingConfiguration="VersionsSoap1"
                contract="Version2010ServiceReference.VersionsSoap" name="VersionsSoap1" />
        </client>
    </system.serviceModel>
</configuration>